@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base: pink;
  --lighter: rgb(255, 222, 228);
  --darker: #E53861;
  --full: white;
  --outline: black;

  font-family: "Fuzzy Bubbles", serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  background-image: url('./assets/pinkflower.svg');
  background-position: right top;
  background-repeat: repeat;
  background-color: pink;
}


